.number{
    background-color: black; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: greenyellow; width: 30px; height: 30px; border-radius: 10px; border-color: greenyellow; border-style: groove;
}

#box{
    align-items: center; width: 300px; height: 100px; display: flex; justify-content: space-around; border-radius: 20px; flex-wrap: wrap; flex-direction: row; flex-flow: wrap; background-color: black; text-align: center; align-content: space-around;
}

#box1{
    align-items: center; width: 300px; height: 100px; display: flex; justify-content: space-around; border-radius: 20px; flex-wrap: wrap; flex-direction: row; flex-flow: wrap; background-color: black; text-align: center; align-content: space-around;
}  

#box2{
    align-items: center; width: 300px; height: 100px; display: flex; justify-content: space-around; border-radius: 20px; flex-wrap: wrap; flex-direction: row; flex-flow: wrap; background-color: black; text-align: center; align-content: space-around;
}

#superbox{
    background-color: black; width: 400px; border-radius: 20px; margin-top: 5%; margin-left: 40%; border: 5px; border-style: groove; border-color: greenyellow; height: 500px;
}

.operacoes{
    color: greenyellow; background-color: black; width: 50px; height: 50px; border-radius: 10px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 40px; border: 5px; border-style: groove; border-color: greenyellow; text-align: center;
    margin-top: 5%;
}

#box3{
    text-align: center; justify-content: space-around; display: flex; flex-direction: row; align-content: space-around; flex-flow: wrap; flex-wrap: wrap; align-items: space-around; background-color: blue; width: 200px; height: 100px;
}

#box4{
text-align: center; justify-content: space-around; display: flex; flex-direction: column; align-items: center; align-content: space-around; margin-left: 60%; margin-top: -75%; margin-left: 70%; flex-flow: wrap; padding: 10px;

}

#novoCalc{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: oblique; background-color: black; color: greenyellow; width: 90px; text-align: center; justify-content: center; margin-left: 35%; border-radius: 10px; padding: 20px; border: 5px; border-style: groove; border-color: greenyellow;
}

#barra{
    border-radius: 20px; width: 90%; height: 30%; margin-left: 9px; margin-top: 20px; padding: 10px; border-color: black; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: inherit; font-size: 20px;
}

#input{
    justify-content: center; align-items: center;
}

body{
    background-color: rgb(68, 16, 117);
}